<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobility42.azurechatr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
 	<permission android:name="com.mobility42.azurechatr.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.mobility42.azurechatr.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="ChatActivity"
              android:label="@string/app_name">
        	<intent-filter>
            	<action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
    	</activity>
    	<receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
    		android:permission="com.google.android.c2dm.permission.SEND">
    		<intent-filter>
        		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
        		<category android:name="com.mobility42.azurechatr" />
    		</intent-filter>
		</receiver>
    </application>

</manifest>